In [10]:
library(tidyverse)
library(repr)
library(tidymodels)
library(tidyr)

In [13]:
data<-read_csv('venezia.csv') |>separate(col=datetime, into=c('Year', 'Month', 'Date'), sep='-', convert=TRUE) |>
                                separate(col=Date, into=c('Day', 'Time'), sep=" ", convert=TRUE)
data

Rows: 289272 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl  (1): level
dttm (1): datetime

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

       Year Month Day Time     level
1      1983 1     1   01:00:00  44
2      1983 1     1   02:00:00  35
3      1983 1     1   03:00:00  23
4      1983 1     1   04:00:00  10
5      1983 1     1   05:00:00   1
6      1983 1     1   06:00:00  -1
7      1983 1     1   07:00:00   6
8      1983 1     1   08:00:00  17
9      1983 1     1   09:00:00  31
10     1983 1     1   10:00:00  41
11     1983 1     1   11:00:00  46
12     1983 1     1   12:00:00  42
13     1983 1     1   13:00:00  31
14     1983 1     1   14:00:00  11
15     1983 1     1   15:00:00 -10
16     1983 1     1   16:00:00 -32
17     1983 1     1   17:00:00 -49
18     1983 1     1   18:00:00 -57
19     1983 1     1   19:00:00 -54
20     1983 1     1   20:00:00 -38
21     1983 1     1   21:00:00 -17
22     1983 1     1   22:00:00   6
23     1983 1     1   23:00:00  25
24     1983 1     2   00:00:00  41
25     1983 1     2   01:00:00  48
26     1983 1     2   02:00:00  47
27     1983 1     2   03:00:00  36
28     1983 1     2   04:00:00  22
29     1983 1     2   05:00:00   7
30     1983 1     2   06:00:00  -2
⋮      ⋮    ⋮     ⋮   ⋮        ⋮
289243 2015 12    30  19:00:00 -18
289244 2015 12    30  20:00:00 -16
289245 2015 12    30  21:00:00 -11
289246 2015 12    30  22:00:00  -2
289247 2015 12    30  23:00:00  11
289248 2015 12    31  00:00:00  23
289249 2015 12    31  01:00:00  32
289250 2015 12    31  02:00:00  39
289251 2015 12    31  03:00:00  41
289252 2015 12    31  04:00:00  38
289253 2015 12    31  05:00:00  28
289254 2015 12    31  06:00:00  17
289255 2015 12    31  07:00:00   8
289256 2015 12    31  08:00:00   2
289257 2015 12    31  09:00:00   3
289258 2015 12    31  10:00:00   8
289259 2015 12    31  11:00:00  17
289260 2015 12    31  12:00:00  27
289261 2015 12    31  13:00:00  33
289262 2015 12    31  14:00:00  28
289263 2015 12    31  15:00:00  18
289264 2015 12    31  16:00:00   8
289265 2015 12    31  17:00:00  -3
289266 2015 12    31  18:00:00 -14
289267 2015 12    31  19:00:00 -19
289268 2015 12    31  20:00:00 -18
289269 2015 12    31  21:00:00 -14
289270 2015 12    31  22:00:00  -5
289271 2015 12    31  23:00:00   8
289272 2016  1     1  00:00:00  20