In [1]:
library(tidyverse)
library(repr)
library(tidymodels)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

In [6]:
data<-read_csv('venezia.csv') |>seperate(col=datetime, into=
data

Rows: 289272 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl  (1): level
dttm (1): datetime

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

       datetime            level
1      1983-01-01 01:00:00  44
2      1983-01-01 02:00:00  35
3      1983-01-01 03:00:00  23
4      1983-01-01 04:00:00  10
5      1983-01-01 05:00:00   1
6      1983-01-01 06:00:00  -1
7      1983-01-01 07:00:00   6
8      1983-01-01 08:00:00  17
9      1983-01-01 09:00:00  31
10     1983-01-01 10:00:00  41
11     1983-01-01 11:00:00  46
12     1983-01-01 12:00:00  42
13     1983-01-01 13:00:00  31
14     1983-01-01 14:00:00  11
15     1983-01-01 15:00:00 -10
16     1983-01-01 16:00:00 -32
17     1983-01-01 17:00:00 -49
18     1983-01-01 18:00:00 -57
19     1983-01-01 19:00:00 -54
20     1983-01-01 20:00:00 -38
21     1983-01-01 21:00:00 -17
22     1983-01-01 22:00:00   6
23     1983-01-01 23:00:00  25
24     1983-01-02 00:00:00  41
25     1983-01-02 01:00:00  48
26     1983-01-02 02:00:00  47
27     1983-01-02 03:00:00  36
28     1983-01-02 04:00:00  22
29     1983-01-02 05:00:00   7
30     1983-01-02 06:00:00  -2
⋮      ⋮                   ⋮
289243 2015-12-30 19:00:00 -18
289244 2015-12-30 20:00:00 -16
289245 2015-12-30 21:00:00 -11
289246 2015-12-30 22:00:00  -2
289247 2015-12-30 23:00:00  11
289248 2015-12-31 00:00:00  23
289249 2015-12-31 01:00:00  32
289250 2015-12-31 02:00:00  39
289251 2015-12-31 03:00:00  41
289252 2015-12-31 04:00:00  38
289253 2015-12-31 05:00:00  28
289254 2015-12-31 06:00:00  17
289255 2015-12-31 07:00:00   8
289256 2015-12-31 08:00:00   2
289257 2015-12-31 09:00:00   3
289258 2015-12-31 10:00:00   8
289259 2015-12-31 11:00:00  17
289260 2015-12-31 12:00:00  27
289261 2015-12-31 13:00:00  33
289262 2015-12-31 14:00:00  28
289263 2015-12-31 15:00:00  18
289264 2015-12-31 16:00:00   8
289265 2015-12-31 17:00:00  -3
289266 2015-12-31 18:00:00 -14
289267 2015-12-31 19:00:00 -19
289268 2015-12-31 20:00:00 -18
289269 2015-12-31 21:00:00 -14
289270 2015-12-31 22:00:00  -5
289271 2015-12-31 23:00:00   8
289272 2016-01-01 00:00:00  20